fitz==0.0.1.dev2
Flask==3.0.0
img2pdf==0.4.4
numpy==1.21.4
numpy==1.21.6
numpy==1.24.3
numpy==1.23.4
opencv_contrib_python==4.6.0.66
opencv_python==4.7.0.72
opencv_python==4.6.0.66
opencv_python==4.8.1.78
Pillow==8.4.0
Pillow==9.5.0
Pillow==9.2.0
Pillow==10.1.0
Pillow==10.1.0
tqdm==4.64.1
tqdm==4.61.2
gunicorn